<html>
<head>
    <meta charset="utf-8"/>
    <title>ejs example</title>
  </head>
  <body>

    <h1> <%= title %> </h1>

    <ul>

        <% cats.forEach(function(item){ %>

          <li>
            <img src="../views/<%= item.image %>">
             <%= item.title %> </li>



        <% }); %>

    </ul>


  </body>

  </html>
